.root {
    -fx-background-color: #E2F4ED;
}

TextArea {
    -fx-text-fill: #13293D;
    -fx-box-shadow: none;
    -fx-font-family: "Raleway", sans-serif;
    -fx-font-size: 14px;
    -fx-display-caret:true;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #E2F4ED;
    -fx-color: #E2F4ED;
}

TextArea .content {
     -fx-font-family: "Raleway", sans-serif;
     -fx-font-size: 14px;
     -fx-background-color: #F8FCFA;
     -fx-padding: 10 10;
     -fx-border-shadow: none;
}

ToolBar {
    -fx-background-color: #C2E7D9;
    -fx-padding: 10 10;
}

.button {
    /* animation for hover (doesnt seem to work ^ v ^,) */
    -fx-transition: all 0.2s ease 0s;

    /* text color */
    -fx-text-fill: #F6F0ED;

    /* bg color */
    -fx-background-color: #177578;

    /* shape*/
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 7 20;

    /* font*/
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #4BC6B9;
}

.button:focused {
    -fx-border: none;
}

#noteBox {
    -fx-padding: 10 20;
    -fx-background-color: #F8FCFA;

    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#noteBox:hover {
    -fx-background-color: #FFFFFF;
    /* -fx-border-color: #FFFFFF; */
}

#noteBoxTitle {
    -fx-font-weight: extra-bold;
}

Separator .line {
    -fx-border-width: 5;
    -fx-border-color: #E2F4ED;
}

ScrollPane {
    -fx-padding: 10;
    -fx-background-color: #E2F4ED;
    -fx-effect: null;
}

ScrollBar {
    -fx-background-color: #E2F4ED;
}

ScrollBar .thumb {
    -fx-background-color: #177578;
}

ScrollBar .increment-arrow,  .decrement-arrow{
    -fx-background-color: #177578;
}